{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <br>
            <h5>还没有账号？</h5>
            <h5>点我<a href="{% url 'user_profile:register' %}">注册账号</a>，加入我们吧!</h5>
            <br>
            {#接收登录视图中的next参数的值，用于登录后的跳转#}
            <form method="post" action="./?next={{ redirect_to }}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">用户名:</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>

                <div class="form-group">
                    <label for="password">密码:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary">登录</button>
                {#在表单中增加了一个隐藏的 input 控件，其值为 {{ request.GET.next }}，即之前通过 URL 参数传递给登录视图函数的#}
                {#然后登录视图函数又将该值传递给了 login.html 模板。#}
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            </form>
            <br>
            <h5>忘记密码了？</h5>
            <h5>请点击<a href="{% url 'password_reset_recover' %}">这里</a>重置密码</h5>
        </div>
    </div>
{% endblock content %}