{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}文章详情{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col-9 mt-4 mb-4 text-center">{{ article.title }}</h1>
            <div class="col-9 alert alert-success" style="height: 50px">作者:{{ article.author }}
                {# 加入权限判断，文章不是所属作者的无法修改或删除文章 #}
                {% if article.author == request.user %}
                    &nbsp;&nbsp;&nbsp;<a href="#" onclick="confirm_delete()">删除文章</a>
                    &nbsp;&nbsp;&nbsp;<a href="{% url 'article:article_update' article.id %}">编辑文章</a>
                {% endif %}
                &nbsp;&nbsp;&nbsp;浏览:{{ article.total_views }}
            </div>

            <div class="col-9">
                {# 在 article.body 后加上 |safe 过滤器 #}
                <p>{{ article.body|safe }}</p>
            </div>

            <div class="col-3 mt-4">
                <h4><strong>目录</strong></h4>
                <hr>
                {# 在 article.body 后加上 |safe 过滤器 #}
                <div>{{ toc|safe }}</div>
            </div>

        </div>
    </div>
    <script>
        function confirm_delete() {
            layer.open({
                title: '确认删除',
                content: '确认删除这一篇文章吗？',
                yes: function (index, layero) {
                    location.href = "{% url 'article:article_delete' article.id %}"
                },
            })
        }
    </script>
{% endblock %}